body {
    display: inline-flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter.ttf);
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    border:1px solid #bbbbbb;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.header {
    color: #404040;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle {
    color: #404040;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frame_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 158px;
}

.frame_1, p {
    color: #404040;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.frame_1 + div {
    width: 242px;
    height: 307px;
}

.box {
    width: 242px;
    height: 248px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #404040;
    transition: width 0.3s, height 0.3s;
    cursor: pointer;
}

.button {
    color: white;
}

.box:hover {
    width: 300px;
    height: 260px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


/* products */

