:root {
    /* --font-color: #404040; */
    /* --font-color-light: #C5C5C5; */
    /* --btn-color-main: #C5C5C5;
    --btn-color-hover: #404040;

    --box-bg-color-main: #C5C5C5;
    --box-bg-color-hover: #404040;
    --box-color-hover: #fff;
    --font-color-label: #696969; */


    --font-size: 35px;

    --bg-color-body: #FFFFFA;
    --color-primary-green: #68BE5F; 
    --color-primary-blue: #4F80C1;
    --color-secondary-blue: #649bce;
    --color-muted-blue: #4C5584;
    --color-muted-green: #075C38;
    --color-primary-white: #FFFFFA;
    --color-primary-gray: #706868;
    --color-muted-gray: #c5c5c5;

    --box-bg-color-main: #4F80C1;
    --box-bg-color-hover: #4C5584;
    --box-color-hover: #FFFFFA;
    --box-color-main: #FFFFFA;
    --font-color-label: #FFFFFA;

    --btn-bg-color-main: #4F80C1;
    --btn-color-main: #FFFFFA;
    --btn-bg-color-hover: #4C5584;
    --btn-color-hover: #FFFFFA;
    


}

@font-face {
    font-family: DelaGothicOne;
    src: url(fonts/DelaGothicOne.ttf);
}

body {
    font-size: var(--font-size);
    background-color: var(--bg-color-body);
    color: var(--color-muted-blue);
}

body button {
    background-color: var(--btn-bg-color-main);
    border: 2px solid var(--btn-bg-color-hover);
    color: var(--btn-color-main);
    padding: 1%;
}

body button:hover {
    background-color: var(--btn-bg-color-hover);
    border: 2px solid var(--btn-bg-color-main);
    color: var(--btn-color-hover);
}

.hidden {
    display: none;
}
.card-header .main-header {
    font-size: 70px;
    font-weight: bold;
    align-items: center;
    letter-spacing:20px;
}

.main-header .mh-left {
    color: var(--color-primary-green);
}

.main-header .mh-right {
    color: var(--color-primary-blue);
}

.card-header .sub-header {
    font-size: 40px;
    font-weight: bold;
    align-items: center;
}

.sub-header span {
    color: var(--color-muted-blue);
    font-weight: 550;
    text-transform:capitalize;
}


.card-body {
    width: 100%;
    height: auto;


}

.form-group table {
    font-weight: bold;
    color: var(--font-color);
}
.form-group .table-login input {
    font-size: var(--font-size);
    font-weight: bold;
    color: var(--font-color);
}

.card-form {
    padding: 0 20px;
}

.table-login tr td {
    padding: 15px
}

button {
    width: 20%;
    font-weight: bold;
    background-color: var(--btn-color-main);
    border-color: var(--btn-color-hover);
    color: var(--font-color);
    border-radius: 5px;
}

table {
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

button:hover {
    background-color: var(--btn-bg-color-hover);
    color: var(--box-color-hover);
}

.box {
    background-color: var(--box-bg-color-main);
    color: var(--box-color-main);
    width: 80%;
    height: 25vh;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: box-shadow 0.3s ease;
    padding: 10%;
    line-height: 1;
}
.box span {
    font-size: 80%;
}

.box:hover {
    background-color: var(--box-bg-color-hover);
    color: var(--box-color-hover);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group .table-form {
    font-size: 25px;
}

.form-group .table-form input,
.form-group .table-form select {
    font-size: 25px;
}


.table-form tr td {
    padding: 10px;
}

.form-group .table-table input,
.form-group .table-table label
{
    font-size: 25px;
}

.table-table tr td {
    padding: 10px;
}

.table tr th {
    font-size: 15px;
}
.table tr td {
    font-size: 15px;
    font-weight: 50;
}

.btn_back {
    width: 100%;
    /* border-radius: 50px; */
    font-weight: bold;
    font-size: 25px;
    margin: 7px;
}

.btn_exit_user {
    width: 100%;
    /* border-radius: 50px; */
    font-weight: bold;
    font-size: 25px;
    margin: 7px;
}

.box-m {
    text-align: center;
    padding: 10px 15%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-white);
    color: var(--color-primary-gray);
    font-weight: 550;
}

.fgr {
    font-size: 30px;
    margin: 0 0 0 10%;
}

.fgr input[type="number"] {
    height: 25vh;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}

.progress-bar-container {
    text-align: center;
    margin-top: 20px;
}
.progress {
    height: 50px;
}
.progress-bar {
    transition: width 10s linear;
    background-color: var(--color-primary-blue);
}



.stop-container {
    padding:10px; 
    /* border:1px solid black; 
    background-color:#C5C5C5; */
}

.stop-container button {
    background-color: var(--color-muted-gray);
    border: 1px solid var(--color-muted-gray);
    color: var(--color-primary-white);
    padding: 5%;
}

.stop-container button:hover {
    background-color: var(--color-muted-blue);
    border: 1px solid var(--color-muted-blue);
    color: var(--color-primary-white);
    padding: 5%;
}

.sc-message span {
    text-wrap:wrap; 
    font-size:25px;
    width: 70%;
    line-height: 1;
    font-weight: 550;

}

.fg-left  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;

}

.fg-left p {
    font-weight: 550;
    color: var(--color-muted-blue);
    font-size:100%;
}

.fg-right span {
    font-weight: 550;
    color: var(--color-muted-blue);
    font-size:100%;
}

.tran-input input[type="text"] {
    /* font-weight: bold; */
    font-size: 29px;
}

.tran-input label {
    color: var(--color-muted-blue);
}

.fgr-message {
    gap: 10px;
    padding: 0 0 0 10%;
    display: flex;
    flex-direction: column;
}

.fgr-message span {
    background-color: var(--color-primary-white);
    /* border: 1px solid var(--color-muted-blue); */
    color: var(--color-muted-blue);
    padding: 5%;
    text-align: center;
    font-weight: 550;
}

.fgr-message label {
    background-color: var(--color-primary-white);
    /* border: 1px solid var(--color-muted-blue); */
    color: var(--color-muted-blue);
    padding: 2%;
    text-align: center;
    font-size:30px;
}

.sd-inputs {
    color: var(--color-muted-blue);
    font-weight: 600;
}

#nTrans_table tr td {
    padding: 8px;
}


.loading-dots::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
    0% {
        content: '';
    }
    20% {
        content: '.';
    }
    40% {
        content: '..';
    }
    60% {
        content: '...';
    }
    80%, 100% {
        content: '';
    }
}

